@font-face {
    font-family: Bernhard scriptC;
    src: url(./fonts/bernhard_scriptc.ttf);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #1a1919;
    color: #d5d5d5;
}

.content a {
    color: #e01c1c;
    text-decoration: none;
}

.content a:visited {
    color: #ac2323;
    text-decoration: none;
}

.content a:hover {
    color: #ff4a4a;
    text-decoration: underline;
}

.content a:active {
    text-decoration: underline;
}

h1 {
    font-size: 1.45em;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 25px;
    margin-top: 0;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.15em;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 15px;
}

.indent-5px {
    margin-bottom: 10px;
}
.indent-10px {
    margin-bottom: 20px;
}
.indent-15px {
    margin-bottom: 20px;
}
.indent-20px {
    margin-bottom: 20px;
}

sup {
    color: #e01c1c;
}

dt {
    color: red;
}

.content table,
.footer-other table,
.footer-main table {
    padding: 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
}

.content tr,
.content td,
.footer-other tr,
.footer-other td,
.footer-main tr,
.footer-main td {
    margin: 0;
    padding: 0;
}

/* Display classes */
.d-inline-block {
    display: inline-block;
}

#header {
    text-align: center;
    font-size: 2em;
    font-family: Bernhard scriptC, Regular;
    color: #f1cd00;
    text-shadow: -1px 0 0.5px black, 0 1px 0.5px black;
}
#header a {
    text-decoration: none;
    color: #f1cd00;
    text-shadow: -1px 0 0.5px black, 0 1px 0.5px black;
}
#header a:hover {
    color: #ffdf2c;
}
#header a:active {
    color: #d8bb14;
}

/* Menu */
#menu {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: #2b2828;
}
#submenu {
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: #131212;
}
#menu ul,
#submenu ul {
    margin:0;
    padding:0;
    height: 3.3em;
    list-style: none;
}
#menu ul li,
#submenu ul li {
    display: inline-block;
}
/* Menu links */
#menu ul li a,
#submenu ul li a {
    display: block;
    margin-top: 0.56em;
    margin-bottom: 0.56em;
    margin-left: 0.28em;
    margin-right: 0.28em;
    padding: 0.5em;
    background-color: #641414;
    color: #eeeeee;
    text-decoration: none;
}
#menu ul li a.active,
#submenu ul li a.active {
    background-color: #a50f0f;
}
#menu ul li a:hover,
#submenu ul li a:hover {
    padding: 0.4em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
}
#menu ul li a:active,
#submenu ul li a:active {
    padding: 0.4em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
    background-color: #490d0d;
}

#menu ul li a:active.active,
#submenu ul li a:active.active {
    padding: 0.4em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
    background-color: #800f0f;
}

#portrait {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.description {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #360e0e;
}
.description-content {
    display: table;
    font-size: 1em;
    padding: 0.7em;
    margin: 0 auto;
}

.content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

/* Margins for content elements */


#container {
    min-height: 100%;
}

/* Footer */
#push-main {
    margin-top: 20px;
    height: 5.5em;
}

#footer-main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: -5.5em;
    height: 5.5em;
    background-color: rgb(12, 12, 12);
}

#push-other {
    margin-top: 20px;
    height: 2.5em;
}

#footer-other {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: -2.5em;
    height: 2.5em;
    background-color: rgb(12, 12, 12);
}

/* Footer links */
a.link-telegram {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.3em;
    background-color: #0088cc;
    color: #ffffff;
    text-decoration: none;
}
a.link-vkontakte {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.3em;
    background-color: #597da3;
    color: #ffffff;
    text-decoration: none;
} 
a.link-github {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.3em;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
}
a.link-gitlab {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.3em;
    background-color: #554488;
    color: #fca326;
    text-decoration: none;
}
/* a:hover of footer links */
a:hover.link-telegram,
a:hover.link-vkontakte,
a:hover.link-github,
a:hover.link-gitlab {
    padding: 0.2em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
}
/* a:active of footer links */
a:active.link-telegram,
a:active.link-vkontakte,
a:active.link-github,
a:active.link-gitlab {
    padding: 0.2em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
}
a:active.link-telegram {
    background-color: #0178b4;
}
a:active.link-vkontakte {
    background-color: #405872;
}
a:active.link-github {
    background-color: #252525;
}
a:active.link-gitlab {
    background-color: #413466;
}

#history {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0;
    width: 85%;
    padding: 2.5px;
}
#history table {
    margin: 0 auto;
}
#history caption {
    margin: 0;
    text-align: center;
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 5px;
}
#history .node {
    display: block;
    padding: 2.5px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}
#history .node .header {
    text-align: center;
    color: #ffffff;
    background-color: #154585;
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    margin: 0;
    padding: 7.5px;
}
#history .node .date {
    margin-bottom: 5px;
    display: inline-block;
    margin: 0;
}
#history .node .time {
    margin-bottom: 5px;
    display: inline-block;
    margin: 0;
}
#history .node .timezone {
    margin-bottom: 5px;
    display: inline-block;
    margin: 0;
}
#history .node .text {
    padding: 7.5px;
    display: block;
    margin: 0;
    background-color: #242424;
}
#history .node .text .mini-header {
    font-size: 1em;
    padding-left: 7px;
    border-left: #1637a3 4px solid;
    margin: 0;
}
#history .more {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}
#nav ul li a.his-active {
    background-color: #2145bd;
}

#nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: center;
}
#nav ul {
    margin: 3px;
    padding: 0;
    list-style: none;
}
#nav ul li {
    display: inline-block;
}
/* Menu links */
#nav ul li a {
    display: block;
    padding: 0.3em;
    margin: 3px;
    background-color: #555555;
    color: #ffffff;
    text-decoration: none;
}

#nav ul li a.active {
    background-color: #2e2e2e;
}
#nav ul li a:hover {
    padding: 0.2em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
}
#nav ul li a:active {
    padding: 0.2em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
    background-color: #383838;
}
#nav ul li a:active.active {
    padding: 0.2em;
    border-width: 0.1em;
    border-style: solid;
    border-color: #ffd700;
    background-color: #727272;
}

.miniprogram {
    display: block;
    margin: 0;
    padding: 0;
}