@font-face {
    font-family: Bernhard scriptC;
    src: url(./fonts/bernhard_scriptc.ttf);
}

body {
    margin: 0;
    background-color: #1a1919;
    color: #ffffff;
}

.content a {
    color: #e01c1c;
}

.content a:visited {
    color: #ac2323;
}

.content a:active {
    color: #ff4d4d;
}

h1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

sup {
    color: #e01c1c;
}

ul {
    font-size: 20px;
}

dt {
    color: red;
}

/* Display classes */
.d-inline-block {
    display: inline-block;
}

#header {
    text-align: center;
    font-size: 40px;
    font-family: Bernhard scriptC, Regular;
    color: #ffd700;
    text-shadow: -1px 0 0.5px black, 0 1px 0.5px black;
}

/* Panels */
#panel {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #2b2828;
}
#subpanel {
    margin-bottom: 10px;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #131212;
}

/* Buttons */
.btn {
    padding: 0.6rem;
    background-color: #641414;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}
.active {
    background-color: #a50f0f;
}

/* Navigation */
.nav {
    display: block;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
/* First navigation element */
.ni-f {
    margin-left: 5px;
}
/* Last navigation element */
.ni-l {
    margin-right: 5px;
}

#portrait {
    text-align: center;
    margin: 15px;
}

.content {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Margins for content elements */
.content h2, 
.content h3,
.content ul,
.content p,
.content div,
.content dt,
.content table {
    margin-top: 0;
    margin-bottom: 20px;
}