@font-face {
    font-family: Bernhard scriptC;
    src: url(./fonts/bernhard_scriptc.ttf);
}

body {
    background-color: #1a1919;
    color: #ffffff;
}

.content a {
    color: #e01c1c;
}

.content a:visited {
    color: #ac2323;
}

.content a:active {
    color: #ff4d4d;
}

h2 {
    padding: 5px;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

sup {
    color: #e01c1c;
}

ul {
    font-size: 20px;
}

dt {
    color: red;
}

#header {
    text-align: center;
    font-size: 40px;
    font-family: Bernhard scriptC, Regular;
    color: #ffd700;
    text-shadow: -1px 0 0.5px black, 0 1px 0.5px black;
}

#panel-main {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: #2b2828;
}

#panel-labworks {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    background-color: #131212;
}

.description {
    padding: 10px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px auto;
    border-radius: 7px;
}

#portrait {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

div.background-portrait {
    background-image: url(./images/marriage_at_cana-paulo_veronese.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.border-frame-quadrangle {
    border-image-source: url(images/frame-quadrangle.png);
    border-image-width: 20px;
    border-image-slice: 413.5;
    border-image-repeat: round;
    border-style: solid;
}

.content {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}