body {
    background-color: #1a1919;
    color: #ffffff;
}

b {
    color: #336abd;
}

a {
    color: #1c88e0;
}

a:visited {
    color: #235eac;
}

a:active {
    color: #4dcdff;
}

h2 {
    padding: 5px;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

#header {
    text-align: center;
    font-size: 40px;
    color: #0066ff;
}

#panel {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: #2b2828;
    border-radius: 5px;
}

#subpanel {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    background-color: #131212;
    border-radius: 5px;
}

.pan-elem {
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#portrait {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

div.background-portrait {
    background-image: url(./images/marriage_at_cana-paulo_veronese.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rimg  {
    float: right;
    margin: 7px 7px 7px 7px;
}

.limg  {
    float: left; 
    margin: 7px 7px 7px 7px;
}

.copyright {
    font-size: 20px; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: right;
}